.header {
    padding: 30px;
    border-bottom: 1px solid gray;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

    .header .logoContainer {
        float: left;
        width: 400px;
        display: flex;
    }

    .header .logoTittle {
        font-size: 40px;
        font-weight: bold;
        margin-top: 24px;
        margin-right: 15px;
    }

    .header .iconContainer {
        display: flex;
        align-items: center;
    }

    .header .iconActions {
        margin-left: 40px;
    }
