.StockItem-ticker {
    font-weight: bold;
}

.StockItem-value-container {
    display: flex;
    justify-content: right;
    font-weight: bold;
    align-items: center;
}
    .StockItem-value-container .quote-arrow {
        background-size: 16px 16px;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        margin-top: 2px;
        margin-right: 3px;
    }

    .StockItem-value-container .quote-arrow-up {
        background-image: url("../../../images/quote_arrow_up.png");
    }

    .StockItem-value-container .quote-arrow-down {
        background-image: url("../../../images/quote_arrow_down.png");
    }

    .StockItem-value-container .quote-arrow-zero {
        background-image: url("../../../images/quote_arrow_zero.png");
    }

    .StockItem-value-container .price-up {
        color: #68B984;
    }

    .StockItem-value-container .price-down {
        color: #E21818;
    }

    .StockItem-value-container .price-zero {
        color: #413F42;
    }

