.indexMarketContainer {
    height: 80px;
    margin-bottom: 10px;
    background-color: #EEEEEE;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    grid-gap: 15px;
    align-items: center;
}

    .indexMarketContainer .block {
        border-radius: 5px;
        width: 220px;
        height: 50px;
        background-color: white;
        display: flex;
        padding: 8px;
        justify-content: center;
    }

.block .symbol {
    font-weight: bold;
    font-size: 22px;
}

.block .arrow {
    margin: 3px;
    margin-top: 3px;
}

.block .quote {
    font-weight: bold;
    font-size: 22px;
}

.block .quote-up {
    color: #68B984;
}

.block .quote-down {
    color: #E21818;
}

.block .quote-zero {
    color: #413F42;
}
