.Box-Notifications {
    width: 40%;
    border: 1px solid #F1EFEF;
    border-radius: 8px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Box-Notifications-active {
    border: 1px solid #40A2D8 !important;
    box-shadow: #40A2D8 0px 3px 8px !important;
}


    .Box-Notifications .icon-container {
        width: 17%;
    }

    .Box-Notifications .icon-notification {
        width: 70px;
        margin: 25px;
    }

    .Box-Notifications .Card-description {
        width: 65%;
        padding: 10px;
    }

        .Box-Notifications .Card-description .Date {
            font-size: 13px;
            color: #9D9D9D;
        }

        .Box-Notifications .Card-description .Ticker {
            font-size: 22px;
            font-weight: bold;
        }

    .Box-Notifications .actions-container {
        width: 18%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Box-Notifications .dropdown-custom-toggle {
        cursor: pointer;
    }

        .Box-Notifications .dropdown-custom-toggle::after {
            display: none !important;
        }
