.PortfolioContainer {

}

    .PortfolioContainer .linkToPortfolio {
        text-align: center;
    }


.itemPortfolioContainer {
    display: flex;
    justify-content: space-between;
}
    .itemPortfolioContainer .symbolContainer {
        display: flex;
    }

    .itemPortfolioContainer .quoteContainer {
        display: flex;
    }

    .itemPortfolioContainer .flag {
        margin: 1px;
        margin-right: 6px;
    }

    .itemPortfolioContainer .symbol {
        font-size: 20px;
        font-weight: bold;
    }

    .itemPortfolioContainer .imgArrow {
        margin: 3px;
    }
    .itemPortfolioContainer .quote {
        font-size: 20px;
        font-weight: bold;
    }

    .itemPortfolioContainer .quote-up {
        color: #68B984;
    }

    .itemPortfolioContainer .quote-down {
        color: #E21818;
    }

    .itemPortfolioContainer .quote-zero {
        color: #413F42;
    }

